- if widget.device
  .widget.widget-text-value.h-100.device{ data: { device: widget.device.json_data }, class: "color-1-#{widget.color_1}" }
    - if widget.show_label?
      .widget-header.d-flex.align-items-center.justify-content-center.text-center{class: label_height_class(widget) }
        .resizable-font-size
          = widget
    .widget-body.d-flex.align-items-center.justify-content-center{class:  indication_height_class(widget) }
      .indication.resizable-font-size
      
    - if widget.show_updated?
      .widget-footer.h-25.d-flex.align-items-center.justify-content-center
        .updated.text-center
          = widget.device.last_change_text