#ajax-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %div
        %h3.modal-title
        %button.close{ "data-dismiss" => "modal", type: "button" } ×
      #ajax-modal-content
        .modal-body
          %p#ajax-modal-loading
            .sk-spinner.sk-spinner-wave
              .sk-rect1
              .sk-rect2
              .sk-rect3
              .sk-rect4
              .sk-rect5
