#toast-container.toast-container.position-fixed.top-0.start-50.translate-middle-x.p-3
  - if flash[:notice].present?
    = render "layouts/common/toast", message: flash[:notice], type: :notice
  - if flash[:alert].present?
    = render "layouts/common/toast", message: flash[:alert], type: :alert
