= turbo_frame_tag "device_logs" do
  .card.shadow.mt-2
    .card-body.pt-0
      .card-title.border-bottom.pt-2.pb-2.d-flex.align-items-center
        %h3 Value Log

      = simple_form_for @search, url: device_device_logs_path(@device), method: :get, wrapper: :inline_form, html: { id: "device_logs_search_form", class: "d-flex flex-wrap gap-2 mb-2", data: { controller: "search-form autosubmit" } } do |form|
        = render "common/per_page"

      = render "device_logs/device_logs"
