.chart{ data: @chart_data_attributes }
  %ul.nav.nav-tabs
    %li.nav-item
      %button.nav-link{ type: "button", class: ("active" if @timespan == "year"), data: { action: "chart#preset", chart_timespan_param: "year" } } Year
    %li.nav-item
      %button.nav-link{ type: "button", class: ("active" if @timespan == "month"), data: { action: "chart#preset", chart_timespan_param: "month" } } Month
    %li.nav-item
      %button.nav-link{ type: "button", class: ("active" if @timespan == "week"), data: { action: "chart#preset", chart_timespan_param: "week" } } Week
    %li.nav-item
      %button.nav-link{ type: "button", class: ("active" if @timespan == "day"), data: { action: "chart#preset", chart_timespan_param: "day" } } Day
    %li.nav-item
      %button.nav-link{ type: "button", class: ("active" if @timespan == "hour"), data: { action: "chart#preset", chart_timespan_param: "hour" } } Hour
    %li.ms-auto.d-flex.align-items-center
      %button.btn.btn-secondary.me-2{ type: "button", data: { action: "chart#shift", chart_direction_param: "-1" } } ◀
      .mx-2.btn.btn-disabled.btn-success{ data: { chart_target: "label" } }= chart_window_label(@min, @timespan)
      %button.btn.btn-secondary.ms-2{ type: "button", data: { action: "chart#shift", chart_direction_param: "1", chart_target: "forward" } } ▶

  .chart-canvas{ style: "height: 400px;", data: { chart_target: "canvas" } }
