.card.shadow.mt-2
  .card-body.pt-0
    .card-title.border-bottom.pt-2.pb-2.d-flex.align-items-center
      %h3 Connection History
    
    #board_history
      = render "board_logs/chart"

:javascript
  HomeControl.BoardLogs.initChart();