.cm-editor {
  border: 1px solid;
  height: auto;
  min-height: 20rem;
  font-size: 0.9rem;
}

.program {
  &.program-stopped {
  }
  &.program-running {
  }
  &.program-on {
    .toggle-off {
      display: none;
    }
    .toggle-on {
      display: inline;
    }
  }
  &.program-off {
    .toggle-off {
      display: inline;
    }
    .toggle-on {
      display: none;
    }
  }
  .has-error {
    display: none;
  }
  &.program-error {
    .has-error {
      display: inline !important;
    }
  }
  
}