.fs-1 { font-size: $h1-font-size; }
.fs-2 { font-size: $h2-font-size; }
.fs-3 { font-size: $h3-font-size; }
.fs-4 { font-size: $h4-font-size; }
.fs-5 { font-size: $h5-font-size; }
.fs-6 { font-size: $h6-font-size; }

.table th, .table td {
  vertical-align: middle;
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    &.modal-sm {
      max-width: 600px;
    }
    &.modal-md {
      max-width: 900px;
    }
    &.modal-lg {
      max-width: 1200px;
    }
  }
}

.h-70 { height: 70% !important; }
.h-30 { height: 30% !important; }