.grid-stack-item {
  font-size: 1vw;
  line-height: 1;

  // @media (min-width: map-get($grid-breakpoints, "xl")) {
  //   font-size: 0.7vw;
  // }

  // @media (max-width: map-get($grid-breakpoints, "md")) {
  //   font-size: 1.4vw;
  // }

  // @media (max-width: map-get($grid-breakpoints, "sm")) {
  //   font-size: 1.8vw;
  // }

  // &[gs-w="1"] .widget { font-size: 100%; }
  // &[gs-w="2"] .widget { font-size: 130%; }
  // &[gs-w="3"] .widget { font-size: 150%; }
  // &[gs-w="4"] .widget { font-size: 180%; }
  // &[gs-w="5"] .widget { font-size: 200%; }
  // &[gs-w="6"] .widget { font-size: 220%; }
  // &[gs-w="7"] .widget { font-size: 240%; }
  // &[gs-w="8"] .widget { font-size: 260%; }
  // &[gs-w="8"] .widget { font-size: 280%; }
  // &[gs-w="10"] .widget { font-size: 300%; }
  // &[gs-w="11"] .widget { font-size: 320%; }
  // &[gs-w="12"] .widget { font-size: 340%; }

  // &[gs-w="1"] .widget { font-size: 100%; }
  // &[gs-w="2"] .widget { font-size: 175%; }
  // &[gs-w="3"] .widget { font-size: 200%; }
  // &[gs-w="4"] .widget { font-size: 220%; }
  // &[gs-w="5"] .widget { font-size: 250%; }
  // &[gs-w="6"] .widget { font-size: 280%; }
  // &[gs-w="7"] .widget { font-size: 310%; }
  // &[gs-w="8"] .widget { font-size: 350%; }
  // &[gs-w="9"] .widget { font-size: 390%; }
  // &[gs-w="10"] .widget { font-size: 440%; }
  // &[gs-w="11"] .widget { font-size: 490%; }
  // &[gs-w="12"] .widget { font-size: 550%; }


  .grid-stack-item-content {
    position: relative;
    &:hover {
      a.edit-widget, a.destroy-widget {
        display: inline-block;
      }  
    }
    a.edit-widget {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    a.destroy-widget {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@mixin color-1-list {
  &.color-1-blue { background: color("blue"); color: color("white"); }
  &.color-1-indigo { background: color("indigo"); color: color("white"); }
  &.color-1-purple { background: color("purple"); color: color("white"); }
  &.color-1-pink { background: color("pink"); color: color("white"); }
  &.color-1-red { background: color("red"); color: color("white"); }
  &.color-1-orange { background: color("orange"); color: color("white"); }
  &.color-1-yellow { background: color("yellow"); color: color("gray-dark"); }
  &.color-1-green { background: color("green"); color: color("white"); }
  &.color-1-teal { background: color("teal"); color: color("white"); }
  &.color-1-cyan { background: color("cyan"); color: color("white"); }
  &.color-1-white { background: color("white"); color: color("gray-dark"); }
  &.color-1-gray { background: color("gray"); color: color("white"); }
  &.color-1-gray_dark { background: color("gray-dark"); color: color("white"); }
}

@mixin color-2-list {
  &.color-2-blue { background: color("blue"); color: color("white"); }
  &.color-2-indigo { background: color("indigo"); color: color("white"); }
  &.color-2-purple { background: color("purple"); color: color("white"); }
  &.color-2-pink { background: color("pink"); color: color("white"); }
  &.color-2-red { background: color("red"); color: color("white"); }
  &.color-2-orange { background: color("orange"); color: color("white"); }
  &.color-2-yellow { background: color("yellow"); color: color("gray-dark"); }
  &.color-2-green { background: color("green"); color: color("white"); }
  &.color-2-teal { background: color("teal"); color: color("white"); }
  &.color-2-cyan { background: color("cyan"); color: color("white"); }
  &.color-2-white { background: color("white"); color: color("gray-dark"); }
  &.color-2-gray { background: color("gray"); color: color("white"); }
  &.color-2-gray_dark { background: color("gray-dark"); color: color("white"); }
}

.widget {
  position: relative;
  &.widget-boolean-value {
    &.device-on {
      @include color-2-list;
    }
    &.device-off {
      @include color-1-list;
    }
  }

  &.widget-text-value {
    @include color-1-list;
  }

  &.widget-switch {
    &.device-on {
      @include color-2-list;
    }
    &.device-off {
      @include color-1-list;
    }
  }

  &.widget-button {
    &.program-running {
      @include color-2-list;
    }
    &.program-stopped {
      @include color-1-list;
    }
  }
  
  // .widget-header {
  //   font-size: 120%;
  // }
  // .widget-body {
  //   font-size: 180%;
  // }
  // .widget-footer {
  //   font-size: 80%;
  // }

  a {
    font-size: inherit;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}