.card.border-primary.mt-3
  .card-header.bg-primary.text-white
    %h3.mb-0 Log files
  .card-body
    %table.table
      - @files.each do |file|
        %tr
          %td= link_to file.first, log_path(file: file.first, anchor: "endofpage")
          %td= l(file.last)
