.per-page
  .form-group.select
    = select_tag :per, options_for_select([10, 20, 50, 100].map(&:to_s), @per_page || params[:per]), data: { "allow-clear" => false, autosubmit: true }, class: "select form-control"
